In [1]:
import pandas

In [2]:
pandas.__version__

'2.1.1'

In [3]:
dict_medidas = {'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80], 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [4]:
dict_medidas

{'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [5]:
df_medidas = pandas.DataFrame.from_dict(dict_medidas)

In [6]:
df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176

## Medidas resumo

### Medidas de posição

In [7]:
# Média
df_medidas["idade"].mean()

41.77777777777778

In [9]:
# Mediana
df_medidas["idade"].median()

40.0

In [10]:
# Moda
df_medidas["idade"].mode()

0    25
Name: idade, dtype: int64

In [12]:
# Moda
df_medidas["altura"].mode()

0    174
Name: altura, dtype: int64

### Medidas de dispersão

In [13]:
# Variância
df_medidas.idade.var()

509.94444444444446

In [14]:
# Desvio Padrão
df_medidas.idade.std()

22.58194952709895

In [15]:
# Coeficiente de Variação (Idade)
df_medidas.idade.std() / df_medidas.idade.mean() * 100

54.05253876167302

In [16]:
# Coeficiente de Variação (Altura)
df_medidas.altura.std() / df_medidas.altura.mean() * 100

3.4803552812368785

### Medidas de Forma

In [17]:
# Assimetria (Idade)
df_medidas.idade.skew()

0.368108517895537

In [18]:
# Assimetria (Altura)
df_medidas.altura.skew()

-0.598486996170113

In [19]:
# Curtose (Idade)
df_medidas.idade.kurtosis()

-1.1344461075421046

In [20]:
# Curtose (Altura)
df_medidas.altura.kurtosis()

-1.3372641199913002

In [21]:
# Obter medidas estatísticas (Idade)
df_medidas.idade.describe()

count     9.000000
mean     41.777778
std      22.581950
min      15.000000
25%      25.000000
50%      40.000000
75%      58.000000
max      80.000000
Name: idade, dtype: float64